
<div class="panel-heading">
  <div class="row">
    <div class="col-md-6">
      <h3 class="panel-title">{{matchup.awayTeam}}@{{matchup.homeTeam}}</h3>
      <p>{{et-date matchup.startTime format="ddd MM/DD/YY h:mmA"}} ET</p>
    </div>
    <div class="col-md-6">
      <p><small>Weather: <small>{{matchup.weather}}</small></small></p>
      <p><small>Line: <small>{{matchup.line}}</small> O/U: <small>{{matchup.ou}}</small></small></p>
    </div>
  </div>
</div>
{{#each teams as |team|}}
  <div class="table-responsive">
    <table class="table table-condensed small">
      <caption>{{team.name}}</caption>
      <thead>
        <tr class="small">
          <td class="small">Rq</td>
          <td class="small">Ex</td>
          <td class="small">P</td>
          <td class="small">Name</td>
          <td class="small">rM</td>
          <td class="small">rWI</td>
          <td class="small">rC</td>
          <td class="small">$</td>
          <td class="small">vM</td>
          <td class="small">vWI</td>
          <td class="small">vC</td>
          {{#if isBacktested}}<td class="small"><em>A</em></td>{{/if}}
        </tr>
      </thead>
      <tbody>
        {{#each team.players as |player|}}
          <tr>
            {{#if player.salary}}
              {{rq-ex-boxes player disabledList=disabledPositions requiredList=requiredPlayers excludedList=excludedPlayers format-table-sm=true onPlayerRequired=requirePlayer onPlayerExcluded=excludePlayer}}
              <td class="small">{{player.position}}</td>
              <td class="small"><a {{action "playerClicked" player}}>{{first-initial player.firstName player.position}} {{player.lastName}}</a></td>
              <td class="small">{{player.rMean}}</td>
              <td class="small">{{player.rWInt}}</td>
              <td class="small">{{player.rCustom}}</td>
              <td class="small">{{short-salary player.salary}}</td>
              <td class="small">{{player.vMean}}</td>
              <td class="small">{{player.vWInt}}</td>
              <td class="small">{{player.vCustom}}</td>
              {{#if isBacktested}}<td class="small"><em>{{if player.actual player.actual "-"}}</em></td>{{/if}}
            {{else}}
              <td class="small"></td>
              <td class="small"></td>
              <td class="small"><small>{{player.proto.type}}</small></td>
              <td class="small" colspan={{if isBackTested "9" "8"}}><small>{{player.proto.fullName}} not in contest.</small></td>
            {{/if}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{/each}}
<div class="panel-footer">
  <div class="row">
    <div class="col-xs-6">
      <h6>{{matchup.awayTeam}} Inactives</h6>
      <ul class="list-unstyled small">
        {{#each matchup.ainactives as |inactive|}}
          <li>{{inactive}}</li>
        {{/each}}
      </ul>
    </div>
    <div class="col-xs-6">
      <h6>{{matchup.homeTeam}} Inactives</h6>
      <ul class="list-unstyled small">
        {{#each matchup.hinactives as |inactive|}}
          <li>{{inactive}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
