
<div class="panel-heading">
  <div class="row">
    <div class="col-md-6">
      <h3 class="panel-title">{{matchup.awayTeam}}@{{matchup.homeTeam}}</h3>
      <p>{{et-date matchup.startTime format="ddd MM/DD/YY h:mmA"}} ET</p>
    </div>
    <div class="col-md-6">
      <p><small>Weather: <small>{{matchup.weather}}</small></small></p>
      <p><small>Line: <small>{{matchup.line}}</small> O/U: <small>{{matchup.ou}}</small></small></p>
    </div>
  </div>
</div>
<div class="panel-body">
  <div class="row">
      <table class="table table-condensed small">
        <caption>{{matchup.awayTeam}}</caption>
        <thead>
          <tr class="small">
            <td class="small">Rq/Ex</td>
            <td class="small">P</td>
            <td class="small">Name</td>
            <td class="small">R-</td>
            <td class="small">R</td>
            <td class="small">R+</td>
            <td class="small">$</td>
            <td class="small">V-</td>
            <td class="small">V</td>
            <td class="small">V+</td>
          </tr>
        </thead>
        <tbody>
          {{#each awayPlayers as |player|}}
            <tr>
              {{#if player.lastName}}
                <td class="small"></td>
                <td class="small">{{player.position}}</td>
                <td class="small">{{player.lastName}}</td>
                <td class="small">{{player.ratingMinus}}</td>
                <td class="small">{{player.rating}}</td>
                <td class="small">{{player.ratingPlus}}</td>
                <td class="small">{{short-salary player.salary}}</td>
                <td class="small">{{player.valueMinus}}</td>
                <td class="small">{{player.value}}</td>
                <td class="small">{{player.valuePlus}}</td>
              {{else}}
                <td class="small"></td>
                <td class="small"><small>{{player.proto.type}}</small></td>
                <td class="small" colspan="8"><small>{{player.proto.fullName}} not in contest.</small></td>
              {{/if}}
            </tr>
          {{/each}}
        </tbody>
      </table>
      <table class="table table-condensed small">
        <caption>@ {{matchup.homeTeam}}</caption>
        <thead>
          <tr class="small">
            <td class="small">Rq/Ex</td>
            <td class="small">P</td>
            <td class="small">Name</td>
            <td class="small">R-</td>
            <td class="small">R</td>
            <td class="small">R+</td>
            <td class="small">$</td>
            <td class="small">V-</td>
            <td class="small">V</td>
            <td class="small">V+</td>
          </tr>
        </thead>
        <tbody>
          {{#each homePlayers as |player|}}
            <tr>
              {{#if player.lastName}}
                <td class="small"></td>
                <td class="small">{{player.position}}</td>
                <td class="small">{{player.lastName}}</td>
                <td class="small">{{player.ratingMinus}}</td>
                <td class="small">{{player.rating}}</td>
                <td class="small">{{player.ratingPlus}}</td>
                <td class="small">{{short-salary player.salary}}</td>
                <td class="small">{{player.valueMinus}}</td>
                <td class="small">{{player.value}}</td>
                <td class="small">{{player.valuePlus}}</td>
              {{else}}
                <td class="small"></td>
                <td class="small"><small>{{player.proto.type}}</small></td>
                <td class="small" colspan="8"><small>{{player.proto.fullName}} not in contest.</small></td>
              {{/if}}
            </tr>
          {{/each}}
        </tbody>
      </table>
  </div>
</div>
<div class="panel-footer">
  <div class="row">
    <div class="col-xs-6">
      <h6>{{matchup.awayTeam}} Inactives</h6>
      <ul class="list-unstyled small">
        {{#each matchup.ainactives as |inactive|}}
          <li>{{inactive}}</li>
        {{/each}}
      </ul>
    </div>
    <div class="col-xs-6">
      <h6>{{matchup.homeTeam}} Inactives</h6>
      <ul class="list-unstyled small">
        {{#each matchup.hinactives as |inactive|}}
          <li>{{inactive}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
