<div class="row">
{{#each playersGroups as |playerGroup|}}
	<div class="row">
		{{#each playerGroup as |players|}}
			<div class="col-md-4">
				<!-- Panel for each group goes here -->
				<div class="panel panel-default">
					<div class="panel-heading">
					  <h3 class="panel-title">{{players.category}}</h3>
					</div>
					<div class="panel-body">
					  <div class="row">
					    <div class="table-responsive">
					      <table class="table table-condensed small">
					        <caption>{{matchup.awayTeam}}</caption>
					        <thead>
					          <tr class="small">
					            <td class="small">Rq/Ex</td>
					            <td class="small">T</td>
					            <td class="small">Name</td>
					            <td class="small">R</td>
					            <td class="small">R+</td>
					            <td class="small">$</td>
					            <td class="small">V</td>
					            <td class="small">V+</td>
					          </tr>
					        </thead>
					        <tbody>
					          {{#each players.list as |player|}}
					            <tr>
					              {{#if player.lastName}}
					                <td class="small"></td>
					                <td class="small"><small>{{player.team}}</small></td>
					                <td class="small"><small>{{player.lastName}}</small></td>
					                <td class="small">{{player.rating}}</td>
					                <td class="small">{{player.ratingPlus}}</td>
					                <td class="small">{{player.salary}}</td>
					                <td class="small">{{player.value}}</td>
					                <td class="small">{{player.valuePlus}}</td>
					              {{else}}
					                <td class="small"></td>
					                <td class="small"><small>{{player.proto.type}}</small></td>
					                <td class="small" colspan="6"><small>{{player.proto.fullName}} not in contest.</small></td>
					              {{/if}}
					            </tr>
					          {{/each}}
					        </tbody>
					      </table>
					    </div>
					    </div>
						</div>
						<div class="panel-footer">
						</div>
				</div>
			</div>
		{{/each}}
	</div>
{{/each}} 
</div>