{{#if hasBlock}}
  {{yield}}
{{else}}
  <h2>Welcome</h2>
  <p>To get started, please login with your email and password:</p>
{{/if}}
<div class="form-group">
  <label class="sr-only" for="{{email}}">Email address</label>
  {{input type="email" class="form-control" value=userEmail id=email placeholder="Email Address"}}
</div>
<div class="form-group">
  <label class="sr-only" for="{{password}}">Password</label>
  {{input type="password" class="form-control" value=userPassword id=password placeholder="Password"}}
</div>
<button type="submit" class="btn btn-primary" {{action "signIn" userEmail userPassword}}>Login</button>
{{#if hasError}}
  <h6 class="text-danger">Invalid username and/or password!</h6>
{{/if}}
