
<!-- This section is only visible if a user is logged in -->
{{#if session.isAuthenticated}}
  {{#nav-bar navBrand="Mako"}}
      <ul class="nav navbar-nav navbar-right">
        <li>
          {{link-to "Upcoming Contests" "contests"}}
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Signed in as <br><small>{{session.currentUser.email}}</small></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" {{action "signOut"}}>Logout</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          {{date-picker dateSelected=(action "navToDate") hideControl=true}}
        </div>
      </form>
  {{/nav-bar}}
  {{outlet}}

<!-- This section is only displayed if a user has not logged in -->
{{else}}
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-2" style="margin-top: 20%">
        {{#simple-login hasError=authError onSignIn=(action 'signIn')}}
          <h2>Mako | <small>Advanced DFS Analytics Toolset</small></h2>
          <p>To get started, login with your email and password:</p>
        {{/simple-login}}
      </div>
    </div>
  </div>
{{/if}}
