<div class="container">
  <h3>Matchups <small>by start time</small></h3>
  {{#if matchups.length}}
    {{nfl-matchups matchups}}
  {{else}}
    <p>No matchups yet for {{model.displayName}}.</p>
  {{/if}}
  
  <h3>Players <small>by position</small></h3>
  {{#if players.length}}
    {{nfl-positions players}}
  {{else}}
    <p>No players yet for {{model.displayName}}.</p>
  {{/if}}
  <p>Component for lineup generator goes here</p>
</div>
