
{{!-- Main --}}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h5 class="text-info text-center">{{site-name model.site}} {{et-date model.startTime format="ddd MM/DD/YYYY h:mmA"}} ET ({{model.slotName}})</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{component mainComponent model}}
    </div>
  </div>
</div>


{{!--   <div class="row">
    <div class="col-md-8 col-md-offset-2 well">
      <h4>Controls</h4>
      <div class="row">
        <div class="col-md-12">
          <h5>Rating Custom <small>customize percentile</small></h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="input-group input-group-sm">
            <span class="input-group-addon">rC =</span>
            {{input type="range" class="form-control" min="10" max='90' value=rCSample}}
            <span class="input-group-addon">{{rCSample}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-md-offset-9 text-right">
          <h6><a href="#" {{action "resetDefaults"}}>reset defaults</a></h6>
        </div>
      </div>
    </div>
  </div>
 --}}